.header {
  display: flex;
  background-color: #15438c;
  /* justify-content: flex-end; */
  align-items: center;
  color: white;
}

.padding {
  padding-right: 10px;
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.filters select {
  width: 100px;
}

.transactions {
  margin-top: 60px;
}

.transactions-header {
  background-color: #15438c;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0 10px;
}

.transactions-header :nth-child(2) {
  display: flex;
}